.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.35;
}

.sidebar_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid lightgray;
}

.sidebar_header_right{
    display: flex;
    justify-content: space-between;
    min-width: 10vw;
}

.btn__{
    font-size: small;
}

.sidebar_search{
    display: flex;
    justify-content: space-between;
}

.sidebar_search > input{
    border:none;
    width: 100%;
    margin-left: 10px;
    height: 35px;
    border-radius: 1 0px;
}

.user{
    font-size: small;
    margin-left: 4px;
}

.sidebar_chat{
    display: flex;
    flex-direction: column;
    padding: 20px;

    border-bottom: 1px solid whitesmoke;
}

.sidebar_chat_info:hover{
    background-color: thistle;
}

.sidebar_chat_info >div >h2{
    margin-bottom: 6px;
    font-size: 16px;
}

.sidebar_chat_info {
    padding-bottom: 10px;
    margin-bottom: 15px;
    display: flex;
    
}

.sidebar_chat_info > div>h2{
    cursor: pointer;
}

.sidebar_chat_info > div{
    margin-left: 10px;
}